<div #projects class="bg-grey">
  <div class="container ">
    <h1 class="title is-2 has-text-centered">Projects</h1>

    In this section you can know about two kind of projects:
    <ul>
      <li>
        Projects in which I have participated, in these projects you can know
        about technologies used, the description, and the company who I did this
        project.
      </li>
      <li>
        My own projects: You can know about: The description or objectives, the
        technologies, and the published website.
      </li>
    </ul>
  </div>
</div>
