<div class="shape" #resume>
  <div class="content w100">
    <h1 class="title is-2 is-white mb-3">{{ "RESUME" | uppercase }}</h1>
    <h3 class="subtitle is-5 is-white">
      Would you like me to send you my resume?
    </h3>

    <div class="w50">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Name" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Email" />
        </div>
      </div>

      <button class="w100 button is-medium">Send</button>
    </div>
  </div>
</div>
