<div
  [class]="'background w100 h100 animate__animated'"
  [ngClass]="{ day: isDay, night: !isDay }"
>
  <div [class]="'programmer  animate__animated' + hiddenClass">
    <div class="level" id="weather">
      <div [class]="'time animate__animated' + classesSun" *ngIf="isDay">
        <!--  animate__delay-1s -->
        <img
          class="animate__animated sun"
          src="assets/img/svg/sun.svg"
          alt=""
        />
      </div>

      <div [class]="'time animate__animated' + classesMoon" *ngIf="!isDay">
        <img class="animate__animated" src="assets/img/svg/moon.svg" alt="" />
      </div>
    </div>
    <div class="level">
      <img
        [ngClass]="{ displayNone: !programmerBlue }"
        src="assets/img/svg/programmerDay.svg"
        alt=""
      />
      <img
        [ngClass]="{ displayNone: programmerBlue }"
        *ngIf="!isDay"
        src="assets/img/svg/programmerNight.svg"
        alt=""
      />
    </div>
  </div>
  <div [class]="'loading  animate__animated' + hiddenClass">
    <div>
      <div></div>
    </div>
  </div>

  <div [class]="'text  animate__animated' + hiddenClass">
    <p>Loading: {{ loadingText }} ...</p>
  </div>
</div>
