/* You can add global styles to this file, and also import other style files */
@import "./_base";
@import "bulma";
@import "../../../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline.sass";
@import "./partials/variables.scss";
@import "../../../node_modules/bulma-block-list/src/block-list";
@import "~ng-snotify/styles/material";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.b-dark {
  background-color: $dark-background;
}

html,
body {
  // font-family: "Rubik", sans-serif;
  font-family: "Roboto", sans-serif;
  // font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
