@import "../../../assets/scss/partials/variables.scss";
.footerContainer {
  width: 100%;
  height: 4.375rem;
  background: #4e5f76;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .image_container {
    img {
      width: 2.6rem;
      cursor: pointer;
    }
    img:nth-child(2) {
      display: none;
    }
  }
  .image_container:nth-child(2) {
    img {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}

#sobre_container:hover {
  img {
    display: none;
  }
  img:nth-child(2) {
    display: inline;
  }
}
#in_container:hover {
  img {
    display: none;
  }
  img:nth-child(2) {
    display: inline;
  }
}
#github_container:hover {
  img {
    display: none;
  }
  img:nth-child(2) {
    display: inline;
  }
}
