/* You can add global styles to this file, and also import other style files */
@import "./_base";
@import "./partials/variables.scss";

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.b-dark {
  background-color: $dark-background;
}

html,
body {
  // overflow: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
