/* You can add global styles to this file, and also import other style files */
@import "./_base";
@import "bulma";
@import "../../../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline.sass";
@import "./partials/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.b-dark {
  background-color: $dark-background;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}
