<div
  data-aos="zoom-in"
  data-aos-once="true"
  class="element"
  [ngStyle]="{
    'background-image': 'url(assets/img/' + data.images[0] + ')'
  }"
>
  <div class="fon"></div>
  <div class="text">
    <h2>
      <strong>{{ data.name }}</strong>
    </h2>
    <p class="center">{{ data.descriptions }}</p>
    <div class="triangle"></div>
  </div>
  <div
    class="view"
    [routerLink]="['/project/detail', 1]"
    [state]="{
      data: data,
      headerSize: headerSize
    }"
  >
    View More
  </div>
</div>
