<div class="container" #experience>
  <h2 class="title is-2 has-text-centered">Experience</h2>

  <div class="timeline is-centered w100">
    <header class="timeline-header">
      <span class="tag is-medium contrast">Start</span>
    </header>
    <div class="timeline-item is-primary"></div>
    <header class="timeline-header">
      <span class="tag blue">2016</span>
    </header>
    <div class="timeline-item is-primary">
      <div class="timeline-marker blue"></div>
      <div class="timeline-content">
        <p class="heading">Full Stack</p>
        <p>GRUPO BABEL</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag blue">2018</span>
    </header>

    <div class="timeline-item is-primary">
      <div class="timeline-marker blue"></div>
      <div class="timeline-content">
        <p class="heading">Full Stack</p>
        <p>LOGICAL DATA</p>
      </div>
    </div>

    <header class="timeline-header">
      <span class="tag blue">2019</span>
    </header>
    <div class="timeline-item is-primary">
      <div class="timeline-marker blue"></div>
      <div class="timeline-content">
        <p class="heading">Full Stack</p>
        <p>SOFTTEK</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag blue">At present</span>
    </header>
    <div class="timeline-item is-primary"></div>
    <header class="timeline-header">
      <span class="tag is-medium contrast">End</span>
    </header>
  </div>
</div>
