<ng-snotify></ng-snotify>
<app-banner
  #banner
  (sizeBanner)="bannerSize = $event"
  [hideBottomBar]="hideBar"
></app-banner>
<div #content class="h100">
  <app-header [hideBottomBar]="!hideBar" *ngIf="!enableSticky"></app-header>
  <app-header
    *ngIf="enableSticky"
    class="animate__animated animate__fadeIn"
    stickyThing
    [spacer]="spacer"
    [enable]="enableSticky"
  ></app-header>
  <main #spacer>
    <app-aboutme (size)="aboutmeSize = $event" #aboutme></app-aboutme>
    <app-projects
      class="h100"
      (size)="projectsSize = $event"
      #project
    ></app-projects>
    <app-experience
      (size)="experienceSize = $event"
      #experience
      class=""
    ></app-experience>
  </main>
  <app-contactme (size)="contactmeSize = $event" #resume></app-contactme>
  <app-footer></app-footer>
</div>
