@import "../../../assets/scss/partials/variables.scss";

.navbar,
.navbar-start {
  background-color: $dark-background;
}
.navbar {
  justify-content: center;
}

.navbar-menu {
  max-width: fit-content;
  padding: 0rem 0;
}

.navbar-burger {
  color: white;
}

.navbar-item {
  color: white;
}
.navbar-item:hover {
  color: $contrast;
  background-color: transparent;
}

.brand {
  img {
    content: url("../../../assets/img/svg/coffeeOnly.svg");
  }
  img:hover {
    content: url("../../../assets/img/svg/coffeeOnlyRed.svg");
  }

  color: white;
  text-decoration: none;
}

.contrast {
  color: $contrast !important;
}

.brandContrast {
  img {
    content: url("../../../assets/img/svg/coffeeOnlyRed.svg");
  }
}

#bottomBarH {
  position: absolute;
  height: 0.8rem;
  width: 100%;
  background-color: $contrast;
}

.fixed_top {
  left: 0;
  position: fixed !important;
  right: 0;
  z-index: 30;
  top: 5.2rem;
}

.animate__delay-0-4s {
  animation-delay: 0.4s;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    max-width: 100%;
    padding: 0rem 0;
  }
  .fixed_top {
    top: 3.25rem;
  }
}
