<div class="container">
  <div class="columns">
    <div class="column has-text-centered">
      <h3 class="subtitle is-3">Who's this guy?</h3>
      <p>
        I’m a Front-End Developer from Heredia Costa Rica. I have serious
        passion for UI/UX, css animations and creating intuitive, composition.
      </p>
      <p>I hav e 5 years of experience in software development</p>
    </div>
    <div class="column">
      <h3 class="subtitle is-3 has-text-centered">Soft Skills</h3>
      <div class="content">
        <ol type="1">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ol>
      </div>
    </div>
  </div>
</div>
