<div class="aboutme container">
  <div class="columns">
    <div class="column">
      <div class="who">
        <img class="profile" src="assets/img/profile.jpg" alt="" />
        <h1 class="title is-2">Who's this guy?</h1>
        <p>
          I’m a passionate person about front end developer. When I finished my
          studies in Graphic Design and I started in the world of software
          developer I’ve wanted to mix both worlds. It’s important to pay
          attention to visual details. For this reason, I love
          <strong>UX</strong>, <strong>UI</strong>,
          <strong>CSS animations</strong> and responsive development.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="skills">
        <h1 class="title is-3">Soft Skills</h1>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="columns">
    <div class="column has-text-centered">
      <h3 class="subtitle is-3">Who's this guy?</h3>
      <p>
        I’m a Front-End Developer from Heredia Costa Rica. I have serious
        passion for UI/UX, css animations and creating intuitive, composition.
      </p>
      <p>I hav e 5 years of experience in software development</p>
    </div>
    <div class="column">
      <h3 class="subtitle is-3 has-text-centered">Soft Skills</h3>
      <div class="content">
        <ol type="1">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ol>
      </div>
    </div>
  </div>
</div> -->
