<div class="aboutme container" #aboutme>
  <div class="who">
    <img
      data-aos="fade"
      data-aos-easing="ease-in"
      data-aos-duration="700"
      class="profile"
      src="assets/img/profile.jpg"
      alt=""
    />
    <h1 class="title is-2">Who's this guy?</h1>
    <p>
      I’m a passionate person about front end developer. When I finished my
      studies in Graphic Design and I started in the world of software developer
      I’ve wanted to mix both worlds. It’s important to pay attention to visual
      details. For this reason, I love
      <strong>UX</strong>, <strong>UI</strong>,
      <strong>CSS animations</strong> and responsive development.
    </p>
  </div>
  

  <!-- <div class="skills">
    <h1 class="title is-3">Soft Skills</h1>
    <div class="items">
      <ul>
        <li>
          <img class="iconSS" src="assets/img/svg/empathy.svg" alt="" /> &nbsp;
          Empathy
        </li>
        <li>
          <img
            class="iconSS"
            src="../../../../../assets/img/svg/help.svg"
            alt=""
          />
          &nbsp; Problem solving
        </li>
      </ul>
      <ul class="">
        <li>
          <img class="iconSS" src="assets/img/svg/racket.svg" alt="" />
          &nbsp; Creativity
        </li>
        <li>
          <img class="iconSS" src="assets/img/svg/microphone.svg" alt="" />
          &nbsp; Teamwork
        </li>
      </ul>
    </div>

    <ul class="block-list is-medium is-outlined is-dark is-centered"></ul>
  </div> -->
</div>
