<div class="bg-grey w100 h100">
  <div class="container">
    <div class="columns w100 ">
      <div class="column">
        <h1 class="title">{{ data.name }}</h1>
        <p>{{ data.longDescription }}</p>
        <div class="tags mt-5">
          <span class="tag is-primary" *ngFor="let tag of data.tags">
            {{ tag }}
          </span>
        </div>
      </div>
      <div class="column">
        <div
          class="gallery js-flickity"
          data-flickity-options='{ "wrapAround": true }'
        >
          <figure class="image is-5by3 w100" *ngFor="let image of data.images">
            <img [src]="'assets/img/' + image" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
