/* external css: flickity.css */
@import "../../../../../../assets/scss/partials/variables.scss";
.gallery {
  background: #eee;
}
.bg-grey {
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.gallery-cell {
  width: 100%;
  height: 20rem;
  margin-right: 10px;
}

.columns {
  padding: 0 5rem;
  .column:first-child() {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
}
